@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "templatemo-style.css";


.menu-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.menu-image-container {
  width: 200px;
  height: 200px;
}

.yellow {
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
  height: 40px;
}

.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}


.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button {
  position: relative;
  padding: 10px 40px;
  float: left;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.pizza-name {
  font-size: 15px;
  text-align: center;
  font-family: 'Signika', sans-serif;
  font-weight: 400;
}

.pizza-image {
  height: 134px;
}

.active-text {
  text-decoration: revert;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

.order-input {
  width: 38px;
  height: 30px;
  margin: 3px
}

.shopping-cart-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.cart-count{
  bottom: 9px;
  position: relative;
  right: 40px;
  color: white !important;
  cursor: pointer;
}